.button-wrapper {
  padding: 6px 12px;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  user-select: none;

  + .button-wrapper {
    margin-left: 8px;
  }
}

.button-text {
  text-transform: capitalize;
}

// Button types
.primary {
  background-color: #007bff;
  border-color: #007bff;

  &:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 50%);
  }
}

.secondary {
  background-color: #6c757d;
  border-color: #6c757d;

  &:hover {
    background-color: #5a6268;
    border-color: #545b62;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgb(108 117 125 / 50%);
  }
}

.success {
  background-color: #28a745;
  border-color: #28a745;

  &:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgb(40 167 69 / 50%);
  }
}

.link {
  font-weight: 400;
  color: #007bff !important;
  background-color: transparent;

  &:hover {
    color: #0056b3;
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
  }

  &:focus {
    text-decoration: underline;
    border-color: transparent;
    box-shadow: none;
  }
}
