@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --black: #000;
  --white: #fff;

  --default-layout-container: 1150px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
}

button,
input,
[tabIndex] {
  outline: none;
  border: none;
}

a[href] {
  color: var(--text-color);
  text-decoration: none;
}

.container {
  width: var(--default-layout-container);
  margin: auto;
}

.default-layout {
  display: flex;
  flex-direction: column;
  background: var(--white);
  min-height: 100vh;
}

.default-button {
  cursor: pointer;
  color: var(--white);
  min-width: 100px;

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
